@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Roboto);
// Add variables here
$translucent-white: rgba(255, 255, 255, 0.3);
$icon-square-length: 300px;
h1 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.banner {
  border : {
    top: 4px solid black;
    bottom: 4px solid black;
  }
  font-family: 'Pacifico', cursive;
  height: 400px;
  background-image: url("lemonade.jpg");
  .slogan {
    background-color: $translucent-white;
    position: absolute;
    border: 4px solid black;
    top: 200px;
    left: 25%;
    width: 50%;
    height: 200px;
    span {
      position: absolute;
      text-align: center;
      line-height: 200px;
    }
  }
}

.container {
  text-align: center;
  font-family: 'Pacifico', cursive;
  .icon {
    width: $icon-square-length;
    height: $icon-square-length;
    display: inline-block;
    margin: 2%;
    border: 4px solid black;
    font-size: 32px;
  }
}
